<?xml version="1.0"?>
<robot name="logStash">

  <link name="log1">
    <inertial>
      <origin rpy="0 0 -1.6" xyz="0 3.51 0" />
      <mass value="0.01" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 3.51 0"/>
      <geometry>
        <box size="0.08 0.7 0.2"/>
      </geometry>
      <material name="brown">
       <color rgba="0.2 0.6 0.3 1"/>
     </material>
    </visual>
    <collision>
      <origin rpy="0 0 -1.6" xyz="0 3.51 0"/>
      <geometry>
        <box size="0.08 0.7 0.2"/>
      </geometry>
    </collision>
  </link>
<!--
  <joint name="log1_to_log2" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="log1"/>
    <child link="log2"/>
  </joint>

  <link name="log2">
    <inertial>
      <origin xyz="0 3.52 0" rpy="0 0 -1.6" />
      <mass value="0.01" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 -1.6" xyz="0 3.52 0"/>
      <geometry>
        <box size="0.08 0.7 0.2"/>
      </geometry>
      <material name="brown">
       <color rgba="0.2 0.6 0.3 1"/>
     </material>
    </visual>
    <collision>
      <origin rpy="0 0 -1.6" xyz="0 3.52 0"/>
      <geometry>
        <box size="0.08 0.7 0.2"/>
      </geometry>
    </collision>
  </link> -->

</robot>
