<?xml version="1.0" ?>
<robot name="omnipointer">
  <material name="omni/Blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="omni/Red">
    <color rgba="1 0 0 1"/>
  </material>
  <material name="omni/Green">
    <color rgba="0 1 0 1"/>
  </material>
  <material name="omni/Yellow">
    <color rgba="1 1 0 1"/>
  </material>
  <material name="omni/LightGrey">
    <color rgba="0.6 0.6 0.6 1"/>
  </material>
  <material name="omni/DarkGrey">
    <color rgba="0.4 0.4 0.4 1"/>
  </material>
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.05715"/>
      <geometry>
        <box size="0.1143 0.0545 0.1143"/>
      </geometry>
      <material name="omni/LightGrey"/>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.05715"/>
      <mass value="0.2"/>
      <inertia ixx="0.000267245666667" ixy="0" ixz="0" iyy="0.000435483" iyz="0" izz="0.000267245666667"/>
    </inertial>
  </link>
  <link name="pendulum_link_1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.5"/>
      <geometry>
        <box size="0.0402 0.05 1"/>
      </geometry>
      <material name="omni/Red"/>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.5"/>
      <mass value="1000.5"/>
      <inertia ixx="83.5416666667" ixy="0" ixz="0" iyy="83.4680033333" iyz="0" izz="0.343003333333"/>
    </inertial>
  </link>
  <joint name="pendulum_joint_1" type="continuous">
    <parent link="base_link"/>
    <child link="pendulum_link_1"/>
    <origin rpy="0 0 0" xyz="0 0.0 0.05715"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.0" friction="0.0"/> 
  </joint>
</robot>
